services:
  - type: web
    name: cav-gateway-staging
    runtime: docker
    plan: starter
    branch: main
    autoDeploy: true
    region: ohio
    dockerContext: services/gateway-api
    healthCheckPath: /health
    dockerfilePath: services/gateway-api/Dockerfile
    envVars:
      - key: NODE_ENV
        value: staging
      - key: OPENAPI_SPEC_PATH
        value: /app/public/openapi.yaml
      - key: OPENAPI_CHAT_WS_SPEC_PATH
        value: /app/public/openapi-chat-ws.yaml
      - key: OPENAPI_WEBHOOKS_SPEC_PATH
        value: /app/public/openapi-webhooks.yaml
      - key: DATABASE_HOST_IPV4
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: SUPABASE_JWT_SECRET
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false

  - type: web
    name: cav-webhooks-staging
    runtime: docker
    plan: starter
    branch: main
    autoDeploy: true
    region: ohio
    dockerContext: services/webhooks
    dockerfilePath: services/webhooks/Dockerfile
    envVars:
      - key: NODE_ENV
        value: staging
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false

  - type: web
    name: cav-chat-staging
    runtime: docker
    plan: starter
    branch: main
    autoDeploy: true
    region: ohio
    dockerContext: services/chat-service
    dockerfilePath: services/chat-service/Dockerfile
    envVars:
      - key: NODE_ENV
        value: staging
